html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
    color: black;
}

@media (prefers-color-scheme: dark) {
    html, body {
        background-color: black;
        color: white;
    }
}