@media only screen and (max-device-width: 480px) {
    .team {
        margin-bottom: 30px
    }
    .support {
        padding-bottom: 70px;
    }
}

body {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.footer-logo {
    padding-left: 3px;
}
.footer {
    background-color: #cecece;
}
.download {
    width: 1000px;
}
.download_img {
    width: 140px;
}
.btn-primary {
    --bs-btn-color: #000;
    --bs-btn-bg: #ec9f0e;
    --bs-btn-border-color: #ec9f0e;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #ce8c13;
    --bs-btn-hover-border-color: #ce8c13;
    --bs-btn-focus-shadow-rgb: 201, 135, 12;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #f0b23e;
    --bs-btn-active-border-color: #ec9f0e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #ec9f0e;
    --bs-btn-disabled-border-color: #ec9f0e;
}

.seal-img {
    position: relative;
    left: 60px;
}

.marketing {
    text-align: center;
}

.heading {
    letter-spacing: 4px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: -5px;
    font-size: 60px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.seal {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 20px;
    color: #5a5a5a;
    margin-bottom: 50px;
}

.url {
    color: black;
}

.url:hover {
    color: black;
}

.icons {
    font-size: 30px;
    padding: 10px 10px 10px 10px;
}

.fa-vk {
    padding: 10px 12px 10px 12px;
}

.fa-envelopes {
    padding: 12.6px 8px 10.4px 8px;
    font-size: 27px;
}

.teams {
    margin-bottom: 10px;
}

.fa-star {
    -webkit-text-stroke: 2.5px black;
    font-size: 30px;
    color: #e6c928;
    position: relative;
    top: -20px;
}
#FAQCollapse {
    margin-top: 30px;
    text-align: justify;
}